.accounts-form-header {
    width: 50%;
    margin: 30px auto 0px;
    color: black;
    background: rgb(117, 199, 199);
    text-align: center;
    border: 1px solid rgb(117, 199, 199);
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    padding: 0px 20px 0px 20px;
}

.accounts-form {
    width: 50%;
    margin: 0px auto;
    padding: 20px;
    border: 1px solid rgb(117, 199, 199);
    background: white;
    border-radius: 0px 0px 10px 10px;
}
