.drills-table {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 199, 199);
    font-weight: bold;
    display: grid;
    justify-content: center;
}

.drills-table a:visited,
.drills-table a:active,
.drills-table a:link,
.drills-table a:hover {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(117, 199, 199);  
    font-weight: bold;
    text-decoration: none;
}

.drill_row {
    display: grid;
    grid-template-columns: 70px 270px 400px;
    justify-content: center;
}

.table_header {
    display: grid;
    grid-template-columns: 70px 270px 400px;
    justify-content: center;
    align-items: center;
}

.table_header_item {
    font-size: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 4px;
    padding-top: 4px;
    padding-bottom: 4px;   
}


.drill_num {
    align-items: center;
    justify-content: center;
    display: grid;
    border: 1px solid rgb(0, 0, 0);
}

.table_diagram {
    display: grid;
    border: 1px solid rgb(0, 0, 0);
    justify-content: center;
}

.table_diagram img {
    width: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.drill_name {
    padding-top: 20px;
    border: 1px solid rgb(0, 0, 0);
    padding-left: 5px;
    padding-right: 5px;
    display: grid;
}

.centered_table_diagram {
    display: block;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
}